flows (5).json
[{"id":"20e7ccb3.679814","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b026462.b01a9b8","type":"function","z":"20e7ccb3.679814","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\n\nvar apikey=\"b9r-FjvH74Or2qN42Ns8ncLAXzG0_tpmfOFWWwgIsuiP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["1828dd87.8f07b2"]]},{"id":"1828dd87.8f07b2","type":"http request","z":"20e7ccb3.679814","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":679,"y":608.9999952316284,"wires":[["d69d2bf5.5749e8"]]},{"id":"1f78a019.84a83","type":"inject","z":"20e7ccb3.679814","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":325.5,"y":533.9999980926514,"wires":[["b026462.b01a9b8"]]},{"id":"33736e69.12ad42","type":"debug","z":"20e7ccb3.679814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":560,"wires":[]},{"id":"d69d2bf5.5749e8","type":"function","z":"20e7ccb3.679814","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\n\nvar token=msg.payload.access_token\nvar instance_id=\"73817b38-789c-4e57-bc73-b84670428db4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"id\",\"age\",\"bp\",\"sg\",\"al\",\"su\",\"rbc\",\"pc\",\"pcc\",\"ba\",\"bgr\",\"bu\",\"sc\",\"sod\",\"pot\",\"hemo\",\"pcv\",\"wc\",\"rc\",\"htn\",\"dm\",\"cad\",\"appet\",\"pe\",\"ane\"], \"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":583.9999952316284,"wires":[["e51ea601.fc0408"]]},{"id":"e51ea601.fc0408","type":"http request","z":"20e7ccb3.679814","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/73817b38-789c-4e57-bc73-b84670428db4/deployments/aec91612-026c-4bc9-844d-27ed3c3c82c8/online","tls":"","persist":false,"proxy":"","authType":"","x":969.5000076293945,"y":515.9999990463257,"wires":[["7c98ab58.8e6824","33736e69.12ad42"]]},{"id":"b4f4e10f.39f52","type":"ui_form","z":"20e7ccb3.679814","name":"","label":"","group":"c6be7b43.5c8298","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bp","value":"bp","type":"number","required":true,"rows":null},{"label":"sg","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"su","value":"su","type":"number","required":true,"rows":null},{"label":"rbc","value":"rbc","type":"number","required":true,"rows":null},{"label":"pc","value":"pc","type":"number","required":true,"rows":null},{"label":"pcc","value":"pcc","type":"number","required":true,"rows":null},{"label":"ba","value":"ba","type":"number","required":true,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":true,"rows":null},{"label":"bu","value":"bu","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"sod","value":"sod","type":"number","required":true,"rows":null},{"label":"pot","value":"pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"number","required":true,"rows":null},{"label":"wc","value":"wc","type":"number","required":true,"rows":null},{"label":"rc","value":"rc","type":"number","required":true,"rows":null},{"label":"htn","value":"htn","type":"number","required":true,"rows":null},{"label":"dm","value":"dm","type":"number","required":true,"rows":null},{"label":"cad","value":"cad","type":"number","required":true,"rows":null},{"label":"appet","value":"appet","type":"number","required":true,"rows":null},{"label":"pe","value":"pe","type":"number","required":true,"rows":null},{"label":"ane","value":"ane","type":"number","required":true,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":315,"y":683.9999952316284,"wires":[["b026462.b01a9b8"]]},{"id":"6469a26b.a331cc","type":"ui_text","z":"20e7ccb3.679814","group":"c6be7b43.5c8298","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":997.6000366210938,"y":668.2000074386597,"wires":[]},{"id":"7c98ab58.8e6824","type":"function","z":"20e7ccb3.679814","name":"","func":"msg.payload=msg.payload.values[0][1][0]\nreturn msg;","outputs":1,"noerr":0,"x":829.6000366210938,"y":411.60000133514404,"wires":[["6469a26b.a331cc","cd9bf783.f44a68"]]},{"id":"cd9bf783.f44a68","type":"debug","z":"20e7ccb3.679814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":300,"wires":[]},{"id":"c6be7b43.5c8298","type":"ui_group","z":"","name":"Default","tab":"1ced2c64.4e66e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ced2c64.4e66e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]